back/.idea/.idea.back/.idea/indexLayout.xml
back/.idea/.idea.back/.idea/inspectionProfiles/Project_Default.xml
back/.idea/.idea.back/.idea/vcs.xml
back/.vs/back/copilot-chat/d953060a/sessions/0d91ee99-1bab-454a-8299-ca79079a67bf
back/.vs/back/CopilotIndices/17.14.878.3237/CodeChunks.db
back/.vs/back/CopilotIndices/17.14.878.3237/SemanticSymbols.db
back/.vs/back/DesignTimeBuild/.dtbcache.v2
back/.vs/back/FileContentIndex/001de923-c69c-4aa1-8102-f1a43636898d.vsidx
back/.vs/back/FileContentIndex/21ec2b04-7063-4ea9-8bf4-ab5f56568843.vsidx
back/.vs/back/FileContentIndex/76ceae65-b5ba-4fb6-a520-51fb8f252165.vsidx
back/.vs/back/FileContentIndex/b9e4fd2c-0842-40f8-a4d4-93604cc3079c.vsidx
back/.vs/back/FileContentIndex/c146d525-0764-4eac-adb1-123a6e03216d.vsidx
back/.vs/back/v17/.futdcache.v2
back/.vs/back/v17/.suo
back/.vs/back/v17/DocumentLayout.backup.json
back/.vs/back/v17/DocumentLayout.json
back/.vs/ProjectEvaluation/back.metadata.v9.bin
back/.vs/ProjectEvaluation/back.projects.v9.bin
back/.vs/ProjectEvaluation/back.strings.v9.bin
back/bin/
back/obj/
