back/obj/Debug/net9.0/back.AssemblyInfo.cs
back/obj/Debug/net9.0/back.AssemblyInfoInputs.cache
back/obj/Debug/net9.0/back.assets.cache
back/obj/Debug/net9.0/back.GeneratedMSBuildEditorConfig.editorconfig
