@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Colors to project */
  --color-amethystSmoke-50: #f8f8fa;
  --color-amethystSmoke-100: #f2f2f5;
  --color-amethystSmoke-200: #e8e6ee;
  --color-amethystSmoke-300: #d5d2e0;
  --color-amethystSmoke-400: #bdb8cd;
  --color-amethystSmoke-500: #a59cb8;
  --color-amethystSmoke-600: #9083a4;
  --color-amethystSmoke-700: #7e7091;
  --color-amethystSmoke-800: #685e79;
  --color-amethystSmoke-900: #574e64;
  --color-amethystSmoke-950: #383342;


}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

      /* Colors to project */
    --color-amethyst-smoke-50: #f8f8fa;
    --color-amethyst-smoke-100: #f2f2f5;
    --color-amethyst-smoke-200: #e8e6ee;
    --color-amethyst-smoke-300: #d5d2e0;
    --color-amethyst-smoke-400: #bdb8cd;
    --color-amethyst-smoke-500: #a59cb8;
    --color-amethyst-smoke-600: #9083a4;
    --color-amethyst-smoke-700: #7e7091;
    --color-amethyst-smoke-800: #685e79;
    --color-amethyst-smoke-900: #574e64;
    --color-amethyst-smoke-950: #383342;

    --color-heavy-metal-50: #f6f7f6;
    --color-heavy-metal-100: #e2e5e3;
    --color-heavy-metal-200: #c4cbc5;
    --color-heavy-metal-300: #9eaa9f;
    --color-heavy-metal-400: #79887b; 
    --color-heavy-metal-500: #5f6d61;
    --color-heavy-metal-600: #4b564d;
    --color-heavy-metal-700: #3e473f;
    --color-heavy-metal-800: #343b35;
    --color-heavy-metal-900: #2e332f;
    --color-heavy-metal-950: #181b19;
    
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
